.cfa-navbar {
    font-family: Apercu;
    font-weight: 400;
    color: #212529;
    height: 66.5px;
}

.col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cfa-navbar-brand {
    display: grid;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding-top: 10px;
    transform: translateX(1px);
    margin-right: 4px;
    padding-left: 30px;
}

.cfa-navbar .cfa-11 {
    font-size: 11px;
}

.smart-restaurant-text {
    color: #5b6770;
    line-height: 11px;
    padding-left: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.padding-top-10 {
    padding-top: 10px;
}